@import './commom/reset.css';
#headerdata {
  width: 100%;
  min-height: .45rem;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: .1rem;
  box-sizing: border-box;
  display: none;
}

#headerdata ul {
  display: flex;
  justify-content: space-between;
}

#headerdata ul .titles {
  display: inline-block;
  font-size: .13rem;
  max-width: .58rem;
  height: .2rem;
  line-height: .2rem;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #191a1b;
}

#headerdata ul .centerit {
  text-align: center;
  font-size: 17px;
  color: #191a1b;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#headerdata ul .righttit {
  width: .18rem;
  height: .16rem;
}

#header {
  width: 100%;
  min-height: 2.1rem;
  position: relative;
}

#header .swiper-container {
  width: 100%;
  height: 100%;
}

#header .swiper-container .swiper-wrapper img {
  width: 100%;
  height: 2.1rem;
}

#header .checkbtn {
  position: absolute;
  top: .18rem;
  left: .07rem;
  z-index: 10;
  font-size: 13px;
  background: rgba(0, 0, 0, 0.2);
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  text-align: center;
  padding: 0 5px;
}

#header .checkbtn a {
  color: #fff;
  display: block;
}

#nav {
  width: 100%;
  min-height: .48rem;
  border-bottom: 1px solid #ededed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

#nav ul a {
  font-size: .14rem;
  color: #191a1b;
  text-align: center;
}

#content {
  width: 100%;
  height: auto;
}

#content article {
  width: 100%;
  min-height: 1.24rem;
  border-bottom: 1px solid #ededed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .15rem;
  box-sizing: border-box;
}

#content article figure {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

#content article aside .one .name {
  color: #191a1b;
  font-size: .16rem;
  height: .22rem;
  line-height: .22rem;
  margin-right: .05rem;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#content article aside .one .item {
  font-size: .09rem;
  color: #fff;
  background-color: #d2d6dc;
  height: .14rem;
  line-height: .14rem;
  padding: 0 .02rem;
  border-radius: .02rem;
}

#content article aside .two .label {
  font-size: .13rem;
  margin-top: .04rem;
  color: #797d82;
}

#content article aside .two .grade {
  color: #ffb232;
  font-size: .14rem;
}

#content article aside img {
  width: .62rem;
  height: .91rem;
}

#content article .shop {
  line-height: .25rem;
  height: .23rem;
  width: .48rem;
  color: #ff5f16;
  font-size: .13rem;
  text-align: center;
  border-radius: .02rem;
  border: .01rem solid #ff5f16;
}

#footer {
  width: 100%;
  min-height: .48rem;
  border-top: 1px solid #ededed;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
}

#footer ul {
  display: flex;
  justify-content: space-around;
}

#footer ul a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #797d82;
  font-size: .21rem;
}

#footer ul a span {
  color: #797d82;
  font-size: .1rem;
  margin-top: .04rem;
}
